.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  height: 293px;
  padding: 92px 50px 96px;
  background-color: rgb(255 255 255);
}

/* body { */

/*  background-color: aqua; */

/* } */

.header-menu {
  display: grid;
  align-items: center;
  margin-right: 0;
}

.header-menu-list {
  display: flex;

  /* flex-flow: row wrap; */
  align-items: flex-start;
  justify-content: space-between;

  /* place-content: space-between; */
  width: 390px;
  height: 22px;
  list-style-type: circle;
  row-gap: 36px;
}

.header-menu-list a {
  text-underline-offset: 0.2em;
}

.menu-list-special-decor {
  list-style-type: none;
}

.no-decoration {
  text-decoration: none;
}

.logo img {
  display: block;
  width: 148px;
  height: 105px;
}

.header-address {
  display: flex;
  justify-self: end;
  overflow-wrap: break-word;
  line-height: 24px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  width: 240px;
  height: 98px;
  }

.header-address a {
  text-underline-offset: 0.2em;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 757px;
}

.cover-overlay {
  background-color: rgb(0 0 0 / 60%);
  inset: 0;
  position: absolute;
}

.cover-title {
  /* width: 1100px; */

  /* height: 385px; */
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 114%;
  letter-spacing: 0.3em;
  color: rgb(255 255 255);
  text-transform: uppercase;
  text-align: center;
  padding: 165px 50px 0;
  margin-bottom: 106px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
  position: relative;
}

.first-cover-title-word {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 286px;
  height: 115px;
}

.second-cover-title-word {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 339px;
  height: 115px;
  margin-left: 45px;
}

.third-cover-title-word {
  grid-column-start: 3;
  grid-row-start: 3;
  width: 387px;
  height: 115px;
  margin-left: -55px;
}

.main-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;

  /* height: 50px; */
  z-index: 1;
  inset: auto 50px 50px;
  color: rgb(255 255 255);
  font-size: 22px;
  text-transform: uppercase;
  line-height: 28px;
  }

.main-description-text {
  margin: 0;
  width: 637px;
  text-align-last: justify;
}

.button {
  border: 1px solid rgb(255 255 255);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  padding: 10px 18px;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 500;
}

.button-text {
  line-height: 100%;
}

/** { */

/*  outline: 1px solid red; */

/* } */